{% block content %} {% load static %} {% block meta %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<title>Daftar Atlet</title>
{% endblock meta %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
  <a href="" class="navbar-brand p-0">
      <h1 class="text-title m-0">Babadu</h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0 pe-4">
          <a href="{% url 'pelatih:dashboard_pelatih' %}" class="nav-item nav-link">Dashboard</a>
          <a href="{% url 'pelatih:daftar_atlet' %}" class="nav-item nav-link active">Daftar Atlet</a>
          <a href="{% url 'pelatih:list_atlet' %}" class="nav-item nav-link">List Atlet</a>
      </div>
      <a href="" class="btn btn-logout py-2 px-4">Logout</a>
  </div>
</nav>

<header>
  <h1>DAFTAR ATLET</h1>
</header>

<td class="align-middle">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <h5 class="card-title">DAFTAR ATLET</h5>
        <form>
          <div class="form-group mb-3">
            <label for="athlete-dropdown">Atlet yang mau didaftarkan:</label>
            <select class="form-control" id="athlete-dropdown">
              <!-- Dropdown dengan daftar atlet yang tersedia -->
              <option>Atlet 1</option>
              <option>Atlet 2</option>
              <option>Atlet 3</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary btn-dark">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</td>

<style type="text/css">
  body {
    background-color: var(--dark);
  }

  header {
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 135px;
    color: var(--orange);
  }

  .card {
    background-color: var(--orange);
    text-align: center;
    margin-top: 35px;
  }

  .card-header {
    text-align: center;
  }

  .card-text {
    font-size: 18px;
  }
</style>

{% endblock content %}
