{% load static %}

{% block meta %}
<title>Register Pelatih</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/register_pelatih.css' %}">


{% endblock meta %}

{% block content %}

    <!-- <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div> -->

    <form id="mainwrapper" method="POST">
        {% csrf_token %}
        <h3>Register Pelatih</h3>

        {% if msg != "" %}
		<div class="alert alert-warning" role="alert">
			{{ msg }}
		</div>
		{% endif %}

        <label >Nama</label>
        <input type="text" placeholder="Nama" id="nama" name="nama" required>

        <label >Email</label>
        <input type="text" placeholder="Email" id="email" name="email" required>

        <label >Negara</label>
        <input type="text" placeholder="Negara" id="email" name="email" required>

        <label >Kategori</label>
        <br>
        <div class="checkbox">
            <input type="checkbox" id="tunggal_putra" name="tunggal_putra" value="">
            <label for="vehicle1">Tunggal Putra</label><br>
            <input type="checkbox" id="tunggal_putri" name="tunggal_putri" value="">
            <label for="vehicle2">Tunggal Putri</label><br>
            <input type="checkbox" id="ganda_putra" name="ganda_putra" value="">
            <label for="vehicle2">Ganda Putra</label><br>
            <input type="checkbox" id="ganda_putri" name="ganda_putri" value="">
            <label for="vehicle2">Ganda Putri</label><br>
            <input type="checkbox" id="ganda_campuran" name="ganda_campuran" value="">
            <label for="vehicle2">Ganda Campuran</label><br>
        </div>

        <label >Tanggal Mulai</label>
        <input type="date" id="tgl_mulai" name="tgl_mulai" required>
     <button type="submit">Daftar</button>
    </form>

{% endblock content %}