
{% load static %}

{% block meta %}

    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% endblock meta %}

{% block content %}

    <!-- Sumber: https://unsplash.com/s/photos/badminton -->
    <!-- <img id="image" src="{% static 'images/home.png' %}"> -->
    <div class="bottom-left">
        <h1 id="l-babadu">babadu</h1>
        <h2 id="l-f03">Basdat F Kelompok 5</h2>
        <div class="buttons">
            <a href="{% url 'general:login' %}" id="btn-login"><button>Login</button></a>
            <a href="{% url 'general:register' %}"><button>Register</button></a>
        </div>
    </div>

{% endblock content %}


