
{% load static %}

{% block meta %}

    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

{% endblock meta %}

{% block content %}

    <!-- Navbar Atlet -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-title m-0">Babadu</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="" class="nav-item nav-link active">Dashboard</a>
                <a href="" class="nav-item nav-link">Tes Kualifikasi</a>
                <a href="" class="nav-item nav-link">Daftar Event</a>
                <a href="" class="nav-item nav-link">Enrolled Event</a>
                <a href="" class="nav-item nav-link">Daftar Sponsor</a>
            </div>
            <a href="" class="btn btn-logout py-2 px-4">Logout</a>
        </div>
    </nav> -->

    <!-- Navbar Umpire -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-title m-0">Babadu</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="" class="nav-item nav-link active">Dashboard</a>
                <a href="" class="nav-item nav-link">Daftar Atlet</a>
                <a href="" class="nav-item nav-link">Lihat Event</a>
                <a href="" class="nav-item nav-link">Hasil Pertandingan</a>
            </div>
            <a href="" class="btn btn-logout py-2 px-4">Logout</a>
        </div>
    </nav> -->

    <!-- Navbar Pelatih -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-title m-0">Babadu</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a href="" class="nav-item nav-link active">Dashboard</a>
                <a href="" class="nav-item nav-link">Daftar Atlet</a>
                <a href="" class="nav-item nav-link">List Atlet</a>
            </div>
            <a href="" class="btn btn-logout py-2 px-4">Logout</a>
        </div>
    </nav>



    <!-- Sumber: https://unsplash.com/s/photos/badminton -->
    <!-- <img id="image" src="{% static 'images/home.png' %}"> -->
    <div class="bottom-left">
        <h1 id="l-babadu">babadu</h1>
        <h2 id="l-f03">F Kelompok 3</h2>
        <div class="w3-show-inline-block">
        <div class="w3-bar">
            <a href="{% url 'general:login' %}"><button>Login</button></a>
            <a href="{% url 'general:register' %}"><button>Register</button></a>
        </div>
        </div>
    </div>

{% endblock content %}


