{% load static %}

{% block meta %}
<title>Login</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function submitLogin() {
        event.preventDefault();
        console.log($("#nama").val())
        $.ajax({
            url: '/login/auth',
            data: {
                'nama': $("#nama").val(),
                'email': $("#email").val()
            },
            dataType: 'json',
            success: function (data) {
                if(data.status === 'success') {
                    window.location.href = '/' + data.role;
                } else {
                    $("#statusMessage").text("Email atau password yang Anda masukkan salah!");
                }
            }
        });
    }

</script>
{% endblock meta %}

{% block content %}

    <form id="loginForm">
        {% csrf_token %}
        <h3>Login</h3>
        <label for="nama">Nama</label>
        <input type="text" placeholder="Nama" id="nama">
        <label for="email">Email</label>
        <input type="text" placeholder="Email" id="email">
        <p id="statusMessage" style="font-size: 11px;"></p>
        <button  style="background-color: #ebce46" onclick="submitLogin()">Log In</button>
    </form>


{% endblock content %}