{% load static %}

{% block meta %}
<title>Login</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="{% static 'scripts/login.js' %}"></script> -->
<script>
    function submitLogin() {
        console.log($("#nama").val())

        $.ajax({
            url: '/login/auth',
            data: {
                'nama': $("#nama").val(),
                'email': $("#email").val()
            },
            dataType: 'json',
            success: function (data) {
                if(data.status === 'success') {
                    window.location.href = '/';
                } else {
                    alert("Email atau password yang Anda masukan salah!");
                }
            }
        });
    }
</script>
{% endblock meta %}

{% block content %}

    <!-- <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div> -->
    <form id="loginForm">
        <h3>Login</h3>
        <label for="nama">Nama</label>
        <input type="text" placeholder="Nama" id="nama">
        <label for="email">Email</label>
        <input type="text" placeholder="Email" id="email">
        <!-- <br>
        <p>"Email atau password yang Anda masukan salah!</p> -->
        <button type="submit" style="background-color: #ebce46" onclick="submitLogin()">Log In</button>
    </form>


{% endblock content %}