{% load static %}

{% block meta %}
<title>Choose Role</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock meta %}

{% block content %}

    <!-- <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div> -->
    <div class="register">
        <h3>Choose Your Role</h3>
        <a href="{% url 'atlet:register-atlet' %}">
            <button id="btn-atlet">Atlet</button>
        </a>
        <a href="{% url 'pelatih:register-pelatih' %}">
            <button id="btn-pelatih">Pelatih</button>
        </a>
        <a href="{% url 'umpire:register-umpire' %}">
            <button id="btn-umpire">Umpire</button>
        </a>
    </div>


{% endblock content %}