{% extends 'base.html' %} {% block meta %}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .back {
        /* max-width: 1200px; */
        /* margin: 0 auto; */
        height: 100%;
        padding: 100px;
        text-align: center;
        background-color: #292826;
    }

    .back h1 {
        font-size: 48px;
        color: #F9D342;
        margin-top: 40px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /*      padding: 10px;*/
    }

    table {
        border-collapse: collapse;
        border: white;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: center;
        border: 5px solid white;
        color: white;
    }

    th {
        background-color: #F9D342;
        color: black;
    }
</style>

{% endblock meta %} {% block content %}

<body>
    {% include 'navbar_umpire.html' %}
    <div class="back">
        <h1> Daftar Atlet Kualifikasi</h1>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal Lahir</th>
                        <th>Negara</th>
                        <th>Play Right</th>
                        <th>Height</th>
                        <th>World Rank</th>
                        <th>World Rank Tour</th>
                        <th>Jenis Kelamin</th>
                        <th>Total Point</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atlet in atlet_kuali %}
                    <tr>
                        <td>{{ atlet.nama }}</td>
                        <td>{{ atlet.tgl_lahir }}</td>
                        <td>{{ atlet.negara_asal }}</td>
                        {% if atlet.play_right %}
                        <td>Ya</td>
                        {% else %}
                        <td>Tidak</td>
                        {% endif %}
                        <td>{{ atlet.height }}</td>
                        <td> {{ atlet.world_rank }}</td>
                        <td>{{ atlet.world_tour_rank }}</td>
                        {% if atlet.jenis_kelamin %}
                        <td>Laki-Laki</td>
                        {% else %}
                        <td>Perempuan</td>
                        {% endif %}
                        <td>{{ atlet.total_point }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h1>Daftar Atlet Nonkualifikasi</h1>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Tanggal Lahir</th>
                        <th>Negara</th>
                        <th>Play Right</th>
                        <th>Height</th>
                        <th>World Rank</th>
                        <th>Jenis Kelamin</th>
                        <th>Total Point</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atlet in atlet_nonkuali %}
                    <tr>
                        <td>{{ atlet.nama }}</td>
                        <td>{{ atlet.tgl_lahir }}</td>
                        <td>{{ atlet.negara_asal }}</td>
                        {% if atlet.play_right %}
                        <td>Ya</td>
                        {% else %}
                        <td>Tidak</td>
                        {% endif %}
                        <td>{{ atlet.height }}</td>
                        <td> - </td>
                        {% if atlet.jenis_kelamin %}
                        <td>Laki-Laki</td>
                        {% else %}
                        <td>Perempuan</td>
                        {% endif %}
                        <td> 0 </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h1>Daftar Atlet Ganda</h1>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>ID Atlet Ganda</th>
                        <th>Nama Atlet 1</th>
                        <th>Nama Atlet 2</th>
                        <th>Total Point</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atlet in atlet_ganda %}
                    <tr>
                        <td>{{ atlet.id_atlet_ganda }}</td>
                        <td>{{ atlet.nama_atlet_1 }}</td>
                        <td>{{ atlet.nama_atlet_2 }}</td>
                        <td>{{ atlet.total_point }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>


{% endblock content %}