{% extends 'base.html' %} {% block meta %}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .back {
        /* max-width: 1200px; */
        /* margin: 0 auto; */
        height: 100%;
        padding: 100px;
        text-align: center;
        background-color: #292826;
    }

    .back h1 {
        font-size: 48px;
        color: #F9D342;
        margin-top: 40px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /*      padding: 10px;*/
    }

    table {
        border-collapse: collapse;
        border: white;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: center;
        border: 5px solid white;
        color: white;
    }

    th {
        background-color: #F9D342;
        color: black;
    }

    .container .btn {
        background-color: #F9D342;
        border: none;
        color: #292826;
        cursor: pointer;
        font-size: 8px;
        font-weight: bold;
    }
</style>

{% endblock meta %} {% block content %}

<body>
    {% include 'navbar_umpire.html' %}
    <div class="back">
        <h1> List Partai Kompetisi</h1>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Nama Event</th>
                        <th>Tahun</th>
                        <th>Stadium</th>
                        <th>Jenis Partai</th>
                        <th>Kategori Superseries</th>
                        <th>Tanggal Mulai</th>
                        <th>Tanggal Selesai</th>
                        <th>Kapasitas</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in partai_kompetisi_event %}
                    <tr>
                        <td>{{ event.nama_event }}</td>
                        <td>{{ event.tahun }}</td>
                        <td>{{ event.stadium }}</td>
                        <td>{{ event.jenis_partai }}</td>
                        <td>{{ event.kategori_superseries }}</td>
                        <td>{{ event.tanggal_mulai }}</td>
                        <td>{{ event.tanggal_selesai }} </td>
                        <td>{{ event.total_peserta}} / {{ event.kapasitas }} </td>
                        <td>
                            {% if event.total_peserta == event.kapasitas %}
                            <a href="{% url 'umpire:pertandingan_page' %}">
                                <button type="button" class="btn">Mulai</button>
                            </a>
                            <!-- <a href="{% url 'umpire:hasil_pertandingan' %}">
                                <button type="button" class="btn">Hasil Pertandingan</button>
                            </a> -->
                            <form action="{% url 'umpire:hasil_pertandingan' %}" method="get">
                                <input type="hidden" name="nama_event" value="{{ event.nama_event|urlencode }}">
                                <input type="hidden" name="tahun_event" value="{{ event.tahun|urlencode }}">
                                <input type="hidden" name="jenis_partai" value="{{ event.jenis_partai|urlencode }}">
                                <button type="submit" class="btn btn-primary">Hasil Pertandingan</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</body>


{% endblock content %}