{% load static %}

{% block meta %}
<title>Register Umpire</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/register_umpire.css' %}">


{% endblock meta %}

{% block content %}

    <!-- <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div> -->

    <form id="mainwrapper" method="POST">
        {% csrf_token %}
        <h3>Register Umpire</h3>

        {% if msg != "" %}
		<div class="alert alert-warning" role="alert">
			{{ msg }}
		</div>
		{% endif %}

        <label >Nama</label>
        <input type="text" placeholder="Nama" name="nama" required>

        <label >Email</label>
        <input type="text" placeholder="Email" name="email" required>

        <label >Negara</label>
        <input type="text" placeholder="Negara" name="negara" required>

        <button type="submit">Daftar</button>
    </form>



{% endblock content %}