{% extends 'base.html' %} {% block meta %}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .back {
        padding: 60px;
        text-align: center;
        background-color: #292826;
    }

    .back h1 {
        font-size: 48px;
        color: #F9D342;
        margin-top: 15px;
    }

    .back p {
        font-size: 24px;
        color: white;
        margin-bottom: 10px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /*      padding: 10px;*/
    }

    .card {
        background-color: #F9D342;
        margin: 10px;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
    }

    .card .thumbnail {
        height: 60px;
        padding-top: 10px;
        background-position: center;
        background-size: cover;
    }

    .card .content {
        padding: 10px;
        background-color: #F9D342;
    }

    .card .content h3 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        text-align: center;
        color: #000;
    }

    .card .content p {
        font-size: 14px;
        margin: 0;
        line-height: 1.5;
        color: black;
    }

    .card .content:hover {
        background-color: #ffd700;
        color: #000;
    }

    .card .button {
        background-color: #000;
        border: none;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 20px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
    }

    .card .button:hover {
        background-color: white;
        color: #000;
    }

    .card {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        display: none;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;
    }

    .card .popup-content {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        margin: 100px auto;
        max-width: 500px;
        padding: 20
    }

    .card .popup-content h2 {
        font-size: 24px;
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    .card .popup-buttons {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .card .popup-button {
        background-color: #000;
        border: none;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 20px;
        margin: 0 10px;
        text-transform: uppercase;
        transition: background-color 0.3s ease;
    }

    .card {
        background-color: #ffd700;
        color: #000;
    }

</style>

{% endblock meta %} {% block content %}

<body>
{% include 'navbar_atlet.html' %}
    {% if messages %}
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="True">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="back">
        <h1>Event</h1>
        <p>Berikut adalah event-event yang Anda ikuti</p>
        <div class="container">
            {% for item in query %}
            <div class="card">
                <div class="thumbnail">
                    <h3><b>{{item.nama_event}}</b></h3>
                </div>
                <div class="content">
                    <p><b>Tahun: {{item.tahun}}</b></p>
                    <p><b>Stadium: {{item.nama_stadium}}</b></p>
                    <p><b>Jenis Partai: {{item.jenis_partai}}</b></p>
                    <p><b>Hadiah: {{item.total_hadiah}} </b></p>
                    <p><b>Kategori Superseries: {{item.kategori_superseries}}</b></p>
                    <p><b>Tanggal Mulai: {{item.tgl_mulai}} </b></p>
                    <p><b>Tanggal Selesai: {{item.tgl_selesai}} </b></p>
                    <br>
                    <br>
                    <br>
                    
                    <form method="post">
                        {% csrf_token %}
                        <input class="button" type="submit" value="Unenroll" name="{{item.nama_event}} {{item.tahun}} {{item.nomor_peserta}}"></input>
                    </form>
                </div>
            </div>
            {% endfor %}
</body>


{% endblock content %}