{% load static %}

{% block meta %}
<title>Register Atlet</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/register_atlet.css' %}">


{% endblock meta %}

{% block content %}

    <form id="mainwrapper" method="POST">
        {% csrf_token %}
        <h3>Register Atlet</h3>

        {% if msg != "" %}
		<div class="alert alert-warning" role="alert">
			{{ msg }}
		</div>
		{% endif %}

        <label for="username">Nama</label>
        <input type="text" placeholder="Nama" name="nama" required>

        <label for="password">Email</label>
        <input type="text" placeholder="Email" name="email" required>

        <label for="password">Negara</label>
        <input type="text" placeholder="Negara" name="negara" required>

        <label for="password">Tanggal Lahir</label>
        <input type="date" placeholder="Tanggal Lahir" name="tanggal-lahir" required>

        <label for="password">Play</label>

        <div class="radio-opt">
            <label class="radio-inline">
                <input type="radio" name="optradio" name="question1" 
                id="radio">Left
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio" name="question1" id="radio">Right
            </label>
         </div>

        <label for="password">Tinggi Badan</label>
        <input type="text" placeholder="Tinggi Badan" name="tinggi-badan" required>

        <label for="password">Jenis Kelamin</label>
        <select id="jenis-kelamin" name="jenis-kelamin">
            <option name="question2" value="laki-laki">Laki-Laki</option>
            <option name="question2" value="perempuan">Perempuan</option>
        </select>

     <button type="submit">Daftar</button>
    </form>



{% endblock content %}