{% load static %}

{% block meta %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Tes Kualifikasi</title>
{% endblock meta %}

{% block content %}

<!-- Sumber Pertanyaan
https://www.bola.com/ragam/read/5094762/15-contoh-soal-materi-olahraga-bulu-tangkis-dan-kunci-jawabannya  -->


<!-- Navbar -->
{% include 'navbar_atlet.html' %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <h2>Pertanyaan Kualifikasi</h2>
    
        <label class="questions">1. Latihan yang pertama dilakukan untuk menerapkan pola pukulan adalah...</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="1" id="flexRadioDefault1" value="salah">
            <label class="form-check-label" for="flexRadioDefault1">
                Permainan net yang tipis-tipis
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="1" id="flexRadioDefault2" value="benar">
            <label class="form-check-label" for="flexRadioDefault2">
                Pukulan silang dan lob
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="1" id="flexRadioDefault3" value="salah">
            <label class="form-check-label" for="flexRadioDefault3">
                Pukulan sederhana
            </label>
          </div>
    
        <label class="questions">2. Dasar yang bisa menghasilkan pukulan berkualitas dalam olahraga bulu tangkis adalah apabila dilakukan dalam posisi baik disebut dengan ...
        </label>
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="2" id="flexRadioDefault1" value="salah">
            <label class="form-check-label" for="flexRadioDefault1">
                Drive
            </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="2" id="flexRadioDefault2" value="salah">
        <label class="form-check-label" for="flexRadioDefault2">
            Footwork
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="2" id="flexRadioDefault3" value="benar">
        <label class="form-check-label" for="flexRadioDefault3">
            Lob
        </label>
        </div>
    
        <label class="questions">3. Pukulan overhead yang meluncur dekat net dan jatuh di depan lapangan lawan disebut ...</label>
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="3" id="flexRadioDefault1" value="benar">
            <label class="form-check-label" for="flexRadioDefault1">
                Netting
            </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="3" id="flexRadioDefault2" value="salah">
        <label class="form-check-label" for="flexRadioDefault2">
            Dropshot
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="3" id="flexRadioDefault3" value="salah">
        <label class="form-check-label" for="flexRadioDefault3">
            Backhand
        </label>
        </div>
    
        <label class="questions">4. Seorang pemain dinyatakan menang dalam satu set permainan badminton apa bila telah mencapai angka ..</label>
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="4" id="flexRadioDefault1" value="salah">
            <label class="form-check-label" for="flexRadioDefault1">
              11
            </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="4" id="flexRadioDefault2" value="salah">
        <label class="form-check-label" for="flexRadioDefault2">
            25
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="4" id="flexRadioDefault3" value="benar">
        <label class="form-check-label" for="flexRadioDefault3">
            21
        </label>
        </div>
    
        <label class="questions">5. Jumlah set dalam permainan bulu tangkis adalah ...</label>
    
        <div class="form-check">
            <input class="form-check-input" type="radio" name="5" id="flexRadioDefault1" value="salah">
            <label class="form-check-label" for="flexRadioDefault1">
                1 dan 3 set
            </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="5" id="flexRadioDefault2" value="salah">
        <label class="form-check-label" for="flexRadioDefault2">
            3 dan 4 set
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="5" id="flexRadioDefault3" value="benar">
        <label class="form-check-label" for="flexRadioDefault3">
            2 dan 3 set
        </label>
        </div>
    
    
        <a href=""><button type="submit">Submit</button></a>
    </form>
</div>


<style type="text/css">

    body {
        background-color: var(--dark);
    }

    form{
        margin: 2%;
        margin-bottom: 1%;
        height: auto;
        background-color: rgba(255,255,255,0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 60px;
    }

    form *{
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    h2 {
        font-size: 35px;
        color: var(--light);
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

    label{
        display: block;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
    }

    .questions {
        font-size: 15px;
        color: var(--orange);
    }

    button{
        margin-top: 50px;
        width: 100%;
        background-color: var(--orange);
        color: #080710;
        padding: 10px 0;
        font-size: 20px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .container-fluid{
        margin-top: 20px;
    }


</style>
{% endblock content %}